.whole-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whole-container .main-container {
    width: 1110px;
}

.whole-container .main-container .title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.whole-container .main-container .title-container .title {
    background-color: #0AC9B0;
    text-align: center;
    user-select: none;

    padding: 4px 8px;
    margin: 12px;

    border: 2px solid black;
    border-radius: 8px;

    font-family: 'Fira Code';
    font-size: 16px;
}

.whole-container .main-container .search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.whole-container .main-container .search-container .search-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.whole-container .main-container .search-container .search-fields .input {
    margin-right: 12px;
}

.whole-container .main-container .search-container .search-fields .button {
    font-size: 14px;
    background-color: #9FD39C;
    border: 1px solid black;
    border-radius: 12px;
    padding: 6px;
}

.whole-container .main-container .search-container .search-count-result {
    text-align: center;
}

.whole-container .main-container .search-container .search-count-result .number {
    font-size: 32px;
    font-weight: 700;
}

.result-container {
    display: flex;
    flex-direction: column;
}