.whole-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whole-container .main-container {
    width: 1110px;
}

.whole-container .main-container .title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.whole-container .main-container .title-container .title {
    background-color: #0AC9B0;
    text-align: center;
    user-select: none;

    padding: 4px 8px;
    margin: 12px;

    border: 2px solid black;
    border-radius: 8px;

    font-family: 'Fira Code';
    font-size: 16px;
}

.result-container {
    display: flex;
    flex-direction: column;
}