@import '../../variables.scss';

.set-container {
    margin-bottom: 20px;

    .accodion-button {
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        border-radius: 8px;
        cursor: pointer;
        font-size: 32px;
        padding: 8px;

        .set-name {
            display: flex;
            align-items: center;

            img {
                height: 40px;
                margin-right: 12px;
            }
        }

        &.completed {
            background-color: $primary;
        }

        &.partial {
            background-color: yellow;
        }
    }

    .accordion-content {
        .buttons-container {
            display: flex;
            justify-content: space-around;
            margin: 16px 0;

            .button {
                cursor: pointer;
                font-size: 28px;
                background-color: $primary-light;
                border: 1px solid black;
                border-radius: 12px;
                padding: 12px;
                transition: 0.1s;
                text-align: center;
        
                &:hover {
                    background-color: $primary;
                }
        
                &.red {
                    background-color: $error;
        
                    &:hover {
                        background-color: $error;
                    }
                }
            }
        }

        .cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &.hide {
            display: none;
        }
    }
}