@import '../../variables.scss';

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;

    .search-fields {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;

        .input {
            margin-right: 12px;
            padding: 6px;
        }

        .button {
            cursor: pointer;
            font-size: 14px;
            background-color: $primary-light;
            border: 1px solid black;
            border-radius: 12px;
            padding: 6px;
            transition: 0.1s;
            margin-left: 8px;

            &:hover {
                background-color: $primary;
            }
        }
    }

    .search-count-result {
        text-align: center;

        .number {
            font-size: 32px;
            font-weight: 700;
        }
    }
}